body{
	background-image: url("../images/grey_wash_wall_RED.png");

}

hr{
	border-color: white;
	border-top-width: 2px;
	margin: auto;
	max-width: 80%;
}

button{
	font-size: 50px;
	padding-right: 50px;
	padding-left: 50px; 
	position: relative;
	top: 140px;
}

.container{
	background-image: url("../images/grey_wash_wall.png");
	min-height: 150px; 
	text-align: center;
	border: #fdd105 10px double;
}

.content{
	visibility: hidden;
}

.header {
	margin-top: 35px;
	color: #fdd105;
	font-size: 30px;
	text-align: center;
}

#question{
	color: white;
	font-size: 28px;
	padding: 15px 5px 10px 5px;
}

.answer,
.scoreCard{
	color: #fdd105;
	text-align: center;
	padding:3px 50px 3px 50px;
	font-size: 20px;
}

.timer{
	color: white;
	font-size: 16px;
	margin: 10px;
}

#timer{
	font-size: 20px;
}

#result{
	font-size: 20px;
}

.answer:hover{
	border: solid white 2px;
	background-color: rgba(0,0,0,.3);
}